<h2>This is the Strategy detail page. You can view current and historical strategy information here 
    and begin trading strategies.</h2>
<form>
        <mat-accordion>
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      New Strategy Form.
                    </mat-panel-title>
                    <mat-panel-description>
                      Type a valid id of a stock ticker, a size of trade and a P/L margin to that, when reached, will end the strategy.
                    </mat-panel-description>
                  </mat-expansion-panel-header>
    <mat-form-field>
        <!-- <input  matInput type='string' placeholder="Stock Ticker" [(ngModel)]='newStock' name='frmstock' #frmstock='ngModel'> -->
        <input  matInput type='int' placeholder="Stock Ticker id" [(ngModel)]='newStock' name='frmstock' #frmstock='ngModel'>
        <!-- <mat-label>Select a stock</mat-label>
        <mat-select [(value)]="newStock">
          <mat-option value=1>string</mat-option>
          <mat-option value=2>Apple</mat-option>
          <mat-option value=3>Google</mat-option>
          <mat-option value=5>ABCD</mat-option>
        </mat-select> -->
    </mat-form-field>
        <mat-form-field>
        <input  matInput type='int' placeholder="Stock Amount" [(ngModel)]='newAmount' name='frmamount' #frmamount='ngModel'>
    </mat-form-field>
        <mat-form-field>
        <input  matInput type='double' placeholder="Exit Profit / Loss" [(ngModel)]='newPL' name='frmpl' #frmpl='ngModel'>
    </mat-form-field>
    <button mat-button =mat-raised-button (click)='handleClick()'>Submit new strategy.</button>
    </mat-expansion-panel>
    </mat-accordion>
</form>

<h1>Strategies:</h1>
<div class="card my-5">
        <div class="card-body">
          <table class="table table-bordered table-striped">
            <thead class="thead-dark">
              <tr>
                <th scope="col">id</th>
                <th scope="col">Stock Ticker</th>
                <th scope="col">Stock id</th>
                <th scope="col">Size</th>
            <th scope="col">Exit Profit/Loss %</th>
            <th scope="col">Current Position</th>
            <th scope="col">Last Trade</th>
            <th scope="col">Profit %</th>
            <th scope="col">Strategy End Date</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let strat of strats">
                <td>{{ strat.id }}</td>
                <td>{{ strat.stock.ticker }}</td>
                <td>{{ strat.stock.id }}</td>
                <td>{{ strat.size }}</td>
                <td>{{ strat.closingPosition }}</td>
                <td>{{ strat.currentPosition }}</td>
                <td>{{ strat.lastTradePrice }}</td>
                <td>{{ strat.profit | number: '1.2-2'}}</td>
                <td>{{ strat.stopped }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>