<!-- <p>trades2 works!</p>
<p>Here is an id {{ABC.id}}</p>
<p>Here is an id {{tradesb.id}}</p>
<p>Here is an id {{trades.id}}</p> -->
<h1>Latest Trades:</h1>
<div class="card my-5">
        <div class="card-body">
          <table class="table table-bordered table-striped">
            <thead class="thead-dark">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Stock Ticker</th>
                <th scope="col">Type</th>
            <th scope="col">Price</th>
            <th scope="col">Size</th>
            <th scope="col">Last Change</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let trade of trades">
                <td>{{ trade.id }}</td>
                <td>{{ trade.stockTicker }}</td>
                <td>{{ trade.tradeType }}</td>
            <td>{{ trade.price }}</td>
            <td>{{ trade.size }}</td>
            <td>{{ trade.lastStateChange | date: 'medium' }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      