<table>
        <tr>
            <th>Firstname</th>
            <th>Lastname</th> 
            <th>Age</th>
          </tr>
          <tr>
            <td>Jill</td>
            <td>Smith</td> 
            <td>50</td>
          </tr>
          <tr>
            <td>Eve</td>
            <td>Jackson</td> 
            <td>94</td>
          </tr>
        </table>


        <!-- <p *ngFor="let trade of trades"> The id of the trade is: {{ trade.id }}</p> -->
        <!-- <ul>
            <li *ngFor="let trade of trades">
              {{ trade.id }}
              </li>
          </ul> 
  <p>{{trades.id}}</p>-->