<body class="mat-app-background">
  <mat-toolbar class="mat-elevation-z20" >Welcome to the EEL trader app.</mat-toolbar>
    <mat-sidenav-container>
        <mat-sidenav mode="side" opened>
          <mat-nav-list>
            <a mat-list-item routerLink='/Home'>Home </a> 
            <a mat-list-item routerLink='/Strat'>Trading Strategy</a>
            <a mat-list-item routerLink='/Trades'>Trades</a>
          </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content> 
        <router-outlet></router-outlet>
        </mat-sidenav-content>
      </mat-sidenav-container>
    </body>