/* You can add global styles to this file, and also import other style files */
/* @import "~@angular/material/prebuilt-themes/indigo-pink.css"; */
@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";

table{
    table-layout: fixed;
    width: 90%;
}

thead th:nth-child(1){
    width: 10%;
}

thead th:nth-child(2){
    width: 10%;
}

thead th:nth-child(3){
    width: 10%;
}

thead th:nth-child(4){
    width: 10%;
}

tr:nth-child(n+75){
    visibility: hidden;
}
th, td{
    padding: 10px;
}

/*typography*/

html{
    font-family: 'helvetica neue', Arial, Helvetica, sans-serif;

}


thead th, tfoot th{
    font-family: 'helvetica neue', Arial, Helvetica, sans-serif;
}

th{
    letter-spacing: 2px;
}

td{
    letter-spacing: 1px;
}

tbody td{
    text-align: center;
}

tfoot th{
    text-align: right;
}