<h2>This is the home page.</h2>
 <!-- You can view critical strategy information here, 
    navigate to the strategy detail page to view details and make changes, and view trading info.</h2> -->
      <mat-grid-list cols="4" rowHeight="2:1">
          <mat-grid-tile class="mat-elevation-z20"><mat-grid-tile-header><h1>Latest Profit %:</h1></mat-grid-tile-header>
            <mat-chip-list><mat-chip>{{strats[0].profit| number: '1.2-2'}}</mat-chip></mat-chip-list></mat-grid-tile>
          <mat-grid-tile><mat-grid-tile-header><h5>Latest strategy position:</h5></mat-grid-tile-header>
            <mat-chip-list><mat-chip>{{strats[0].currentPosition}}</mat-chip></mat-chip-list></mat-grid-tile>
          <mat-grid-tile><mat-grid-tile-header><h5>Latest strategy stock:</h5></mat-grid-tile-header>
            <mat-chip-list><mat-chip>{{strats[0].stock.ticker}}</mat-chip></mat-chip-list></mat-grid-tile>
          <mat-grid-tile><mat-grid-tile-header><h5>Latest strategy size:</h5></mat-grid-tile-header>
            <mat-chip-list><mat-chip>{{strats[0].size}}</mat-chip></mat-chip-list></mat-grid-tile>
      </mat-grid-list>

      <!-- <table mat-table [dataSource]="strategy" class="mat-elevation-z8">
          <ng-container matColumnDef="Stock Ticker">
            <th mat-header-cell *matHeaderCellDef> Stock ticker </th>
            <td mat-cell *matCellDef="let strategy"> {{strategy.ticker}} </td>
          </ng-container>
          <ng-container matColumnDef="size">
            <th mat-header-cell *matHeaderCellDef> Size </th>
            <td mat-cell *matCellDef="let strategy"> {{strategy.size}} </td>
          </ng-container>
          <ng-container matColumnDef="target">
            <th mat-header-cell *matHeaderCellDef> Target % P/L </th>
            <td mat-cell *matCellDef="let strategy"> {{strategy.target}} </td>
          </ng-container>
          <ng-container matColumnDef="actual">
            <th mat-header-cell *matHeaderCellDef> Current % P/L </th>
            <td mat-cell *matCellDef="let strategy"> {{strategy.actual}} </td>
          </ng-container>
          <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef> Strategy status </th>
              <td mat-cell *matCellDef="let strategy"> {{strategy.status}} </td>
            </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table> -->
        <!-- <table cdk-table>
            <ng-container cdkColumnDef="position">
              <th cdk-header-cell *cdkHeaderCellDef> No. </th>
              <td cdk-cell> 2 </td>
            </ng-container>
            <ng-container cdkColumnDef="name">
              <th cdk-header-cell *cdkHeaderCellDef> Name </th>
              <td cdk-cell > 1</td>
            </ng-container>
            <tr cdk-header-row *cdkHeaderRowDef="displayedColumns"></tr>
            <tr cdk-row *cdkRowDef="let row; columns: displayedColumns;"></tr>
          </table> -->